<!DOCTYPE html>
<html>

<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

<head>
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src='/javascripts/handler.js'></script>
    <script src='/javascripts/table.js'></script>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<header>

{{#unless name}}

    <div id="logindrop" class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" style="color: #4e555b; background-color: #fffdd0;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="color: #4e555b; background-color: #fffdd0;">
            <form method="POST" id="login" action="/login">
                <input type="text" class="dropdown-item" name="username" required="required" placeholder="Username">
                <input type="text" class="dropdown-item" name="password" required="required" placeholder="Password">
                <input type="submit" a class="dropdown-item"/>
            </form>
        </div>
    </div>

    <div id="registerdrop" class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" style="color: #4e555b; background-color: #fffdd0;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Register
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="color: #4e555b; background-color: #fffdd0;">
            <form method="POST" id="registration" action="/adduser">
                <input type="text" class="dropdown-item" name="username" required="required" placeholder="Username">
                <input type="text" class="dropdown-item" name="password" required="required" placeholder="Password">
                <input type="text" class="dropdown-item" name="email" required="required" placeholder="Email">
                <input type="submit" class="dropdown-item"/>
            </form>
        </div>
    </div>

{{/unless}}

{{#if name}}

    <a class="btn btn-secondary" style="color: #4e555b; background-color: #fffdd0;" href="#" role="button" id="listGamesBtn" aria-haspopup="true" aria-expanded="false">
        List Games
    </a>
    <a class="btn btn-secondary" style="color: #4e555b; background-color: #fffdd0;" href="#" role="button" id="getGameBtn" aria-haspopup="true" aria-expanded="false">
        Get Game
    </a>
    <a class="btn btn-secondary" style="color: #4e555b; background-color: #fffdd0;" href="#" role="button" id="getScoreBtn" aria-haspopup="true" aria-expanded="false">
        Get Score
    </a>
        <a class="btn btn-secondary" style="color: #4e555b; background-color: #fffdd0;" href="#" role="button" id="logoutBtn" aria-haspopup="true" aria-expanded="false">
            Logout
        </a>
    </div>

{{/if}}

</header>

<h1>Let's play {{title}}!</h1>
<body>

<!--
<div id="entername">
    <form method="post" action="/ttt">
        <label for="name">Enter your name to start playing:</label>
        <input type="text" class="nameinput" autofocus="autofocus" name="name" placeholder="Name here">
    </form>
</div>
-->

{{#if name}}
    Hello {{name}}, {{date}}
    <br>
    <table id='board'>
        <tr>
            <td id="c1"> </td><td id="c2"> </td><td id="c3"> </td>
        </tr>
        <tr>
            <td id="c4"> </td><td id="c5"> </td><td id="c6"> </td>
        </tr>
        <tr>
            <td id="c7"> </td><td id="c8"> </td><td id="c9"> </td>
        </tr>
    </table>
    <br>
    <div id ='winnertext'></div>
{{/if}}

</body>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>





