h1 {
  text-align: center;
  font: 80px 'Cinzel', serif;
}

body {
  /*padding: 50px;*/
  background-color: #fffdd0;
  text-align: center;
  font: 30px 'Garamond', serif;
}

a {
  color: #00B7FF;
}

header {
  display:inline-block;
  margin-top:10px;
  color: #3C6478;
}

#logindrop {
  position: absolute;
  left: 10px;
}
#registerdrop {
  position: absolute;
  left: 100px;
}

#logoutBtn {
  position: absolute;
  right: 25px;
}

ul > li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
  padding-right:30px;
  zoom:1;
  *display:inline;
  /* this fix is needed for IE7- */
}

#li1 {
  padding-right: 50px;
}

h1 {
  padding-top: 80px;
}

#entername {
  white-space: nowrap;
}
.nameinput {
  width: 200px;
  height: 40px;
  font: 30px 'Garamond', serif;
  border: 10px;
  border-color: #ffffff;
  outline: none;
  background-color: #fffdd0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#board {
  background-color: #ffffff;
  padding: 0px;
  margin: 0 auto;
  margin-top: 25px;
}

#board tr td {
  width: 120px;
  height: 120px;
  border: 1px solid #000000;
  font-family: Helvetica;
  font-size: 100px;
}

#board tr td:hover {
  background: #e4e4e4;
  cursor: pointer;
}